.navbar-default {
	background-color: #540c5c;


}

a.title {
	color: #3dc63b !important;
}

a.white-title {
	color: white !important;
}

div {
	margin-bottom: 5px;
}

label {
	padding-right: 10px;
	color: #540c5c;
	font-family: Verdana;
}

input, button, select, textarea {
	margin-right: 10px;
	border: 2px solid #3dc63b;
}