{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">Ajouter une matière</div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>

<a href="{{ path('matiere') }}"><strong><span class="glyphicon glyphicon-arrow-left"></span> Revenir à la liste</strong></a>
{% endblock %}
